Source: ros-groovy-langs
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-langs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-langs-dev,ros-groovy-catkin,ros-groovy-roscpp-core
Description: Meta package modeling the run-time dependencies for language bindings of messages.

